{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% include 'components/header.html' %}

    <main>
        <!----- ############# Слайдер ################ ----->

        <div class="slider-container">
            <div class="slider no-margin container-fluid">
                <div class="layye">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 detail">
                                <h2>"Ваша безопасность — наш приоритет."<br> Сила нейронных сетей</h2>
                                <p>Реальное время обнаружения насилия и услуги активной защиты.</p>
                                <button class="btn btn-primary"
                                        onclick="window.location.href='{% url 'devices:device-list-my' %}';">Начать
                                </button>
                            </div>
                            <div class="col-md-4 d-none d-md-block image">
                                <img src="{% static 'images/camera.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----- ############# Почему мы ################ ----->

        <div class="container-fluid key-features">
            <div class="container">
                <div class="row key-row">
                    <div class="col-md-4">
                        <div class="sec-det">
                            <i class="fas fa-shield-alt"></i>
                            <h4>Обнаружение насилия на основе ИИ</h4>
                            <p>Передовые алгоритмы мониторят и обнаруживают признаки насилия в реальном времени.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sec-det">
                            <i class="fas fa-exclamation"></i>
                            <h4>Активные уведомления и действия</h4>
                            <p>Срочные уведомления отправляются властям и назначенным контактам.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sec-det">
                            <i class="fas fa-video"></i>
                            <h4>Круглосуточное наблюдение и поддержка</h4>
                            <p>Непрерывный контроль для вашего спокойствия.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----- ############# О нас ################ ----->

        <div id="about" class="container-fluid about-us">
            <div class="container">
                <div class="row about-row">
                    <div class="col-md-12 details">
                        <h2>О нас</h2>

                        <p>
                            Мы стремимся сделать сообщества безопаснее и создавать умные решения, используя технологии. 
                            Наша миссия, вдохновленная силой ИИ и продвинутыми технологиями визуализации, началась с простой, 
                            но мощной идеи: обеспечить надежное обнаружение насилия в реальном времени с помощью интеллектуальной 
                            интеграции камер.

                            Наша современная платформа бесшовно интегрирует камеры с набором AI-сервисов для обработки изображений 
                            в реальном времени и обнаружения насильственных действий. Благодаря передовому распознаванию изображений, 
                            алгоритмам глубокого обучения и постоянным инновациям, мы стремимся предоставлять бизнесу, организациям 
                            и сообществам инструменты для повышения безопасности и активного реагирования на угрозы.

                            В основе нашей миссии лежит стремление технологий устранить разрыв между осведомленностью и действиями. 
                            Мы верим, что каждое обработанное изображение приближает нас на шаг к предотвращению вреда и созданию 
                            безопасной среды для всех.

                            Присоединяйтесь к нам в нашем путешествии по созданию безопасного мира с помощью зрения и интеллекта.
                        </p>
                        <a href="{% url 'violence_detection:test_predict' %}">Демо</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ################# Последние блоги ####################### -->

        <div class="our-blog container-fluid">
            <div class="container">
                <div class="session-title row">
                    <h2>Наши блоги</h2>
                    <p></p>
                </div>
                <div class="blog-row row">
                    {% for blog_item in blogs %}
                    <div class="col-md-4 blogcol">
                        <div class="blogdiv">
                            <img src="./d1.jpg" alt="">
                            <div class="blog-detail">
                                <a href="{% url 'blogs:blog_detail' id=blog_item.id %}"><h4>{{ blog_item.title }}</h4></a>
                                <span>{{ blog_item.created_at }}</span>
                                <p>
                                    {{ blog_item.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}

{% endblock %}
