anyio
Django
# celery
# django-celery-beat
# django-celery-results
django-cors-headers
django-extensions
django-filter
django-js-asset
django-oauth-toolkit
django-polymorphic
django-redis
django-rest-passwordreset
django-rest-polymorphic
django-timezone-field
djangorestframework
dj-rest-auth 
djangorestframework-simplejwt
django-allauth
drf-nested-routers
drf-standardized-errors
oauthlib
pillow
psutil
psycopg
psycopg2-binary
PyJWT
pyparsing
python-dateutil
python-dotenv
PyYAML
redis
regex
requests
six
django-parler
django-parler-rest
django-debug-toolbar
django-gmailapi-backend
django_grapesjs
django-notifications-hq
django-jazzmin
django-environ
jsonfield
django-log-viewer
django-soft-delete
django-restful-admin



numpy
pandas
tqdm
Pillow
# scipy
tensorflow>=2.0.0
# opencv-python>=4.0.0
imageio>=2.0.0
imgaug>=0.4.0
# scikit-learn>=0.22.0
# matplotlib>=3.0.0
pyheif==0.5.1
clip-by-openai
# torch==1.7.1
whatimage==0.0.3
pyaml
djangorestframework-api-key
gunicorn