{% extends 'layouts/base.html' %}

{% block title %}Редактировать устройство{% endblock %}

{% block content %}
    {% include 'components/header.html' %}

    <main class="container my-4">
        <div class="container">
            <!-- Form Header -->
            <div class="text-center mb-4">
                <h2 class="text-primary font-weight-bold">Редактировать устройство: #{{ device.id }}</h2>
            </div>

            <!-- Create Device Form -->
            <div class="col-md-8 offset-md-2 bg-white p-4 rounded shadow-sm">
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name" class="font-weight-bold">{{ form.name.label }}</label>
                        {{ form.name }}
                        <small class="form-text text-muted">{{ form.name.help_text }}</small>
                    </div>
                    <div class="form-group">
                        <label for="id_description" class="font-weight-bold">{{ form.description.label }}</label>
                        {{ form.description }}
                        <small class="form-text text-muted">{{ form.description.help_text }}</small>
                    </div>
                    <div class="form-group position-lang-field">
                        <label for="id_position_lang" class="font-weight-bold">{{ form.lang.label }}</label>
                        {{ form.lang }}
                        <small class="form-text text-muted">{{ form.lang.help_text }}</small>
                    </div>
                    <div class="form-group position-lat-field">
                        <label for="id_position_lat" class="font-weight-bold">{{ form.lat.label }}</label>
                        {{ form.lat }}
                        <small class="form-text text-muted">{{ form.lat.help_text }}</small>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                    </div>
                </form>
            </div>

            <!-- API Key Request Button -->
            <div class="text-center mt-4">
                <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="modal"
                        data-target="#apiKeyModal">
                    API ключ
                </button>
            </div>

            <!-- API Key Modal -->
            <div class="modal fade" id="apiKeyModal" tabindex="-1" role="dialog" aria-labelledby="apiKeyModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="apiKeyModalLabel">Новый API ключ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="apiKeyResponse" class="alert d-none" role="alert"></div>
                            <button id="generateApiKey" class="btn btn-primary">Запросить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#generateApiKey').on('click', function () {
                $.ajax({
                    url: "{% url 'devices:api_key_regenerate' id=device.id %}",
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function (response) {
                        $('#apiKeyResponse').removeClass('d-none alert-danger').addClass('alert-success')
                            .text('API ключ: ' + response.data.hashed_key);
                    },
                    error: function () {
                        $('#apiKeyResponse').removeClass('d-none alert-success').addClass('alert-danger')
                            .text('Ошибка.');
                    }
                });
            });
        });
    </script>
{% endblock %}