<!--*************** Подвал Начинается Здесь *************** -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 about">
                {#                <h2>О нас</h2>#}
                {#                <p>Phasellus scelerisque ornare nisl sit amet pulvinar. Nunc non scelerisque augue. Proin et#}
                {#                    sollicitudin velit. </p>#}

                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        xxxxxx
                        xxxxxxx (xxxxxxxx)
                        xxxxxx, xxx
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        vids-info-notifier@gmail.com <br>
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="addet">
                        +7 777 777 77 77 <br>
                        +7 700 777 77 77
                    </div>
                </div>
            </div>
            <div class="col-md-3 fotblog">
                {#                <h2>Последние блоги</h2>#}
                {#                <div class="blohjb">#}
                {#                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>#}
                {#                    <span>22-1-2019</span>#}
                {#                </div>#}
                {#                <div class="blohjb">#}
                {#                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>#}
                {#                    <span>22-1-2019</span>#}
                {#                </div>#}
                {#                <div class="blohjb">#}
                {#                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>#}
                {#                    <span>22-1-2019</span>#}
                {#                </div>#}
            </div>
            <div class="col-md-3 glink">
                <h2>Cсылки</h2>
                <ul>
                    <li>
                        <a href="{% url 'pages:home' %}">
                            <i class="fas fa-angle-double-right"></i>
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'pages:home' %}#about">
                            <i class="fas fa-angle-double-right"></i>
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'violence_detection:test_predict' %}">
                            <i class="fas fa-angle-double-right"></i>
                            Тест прогнозирования
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'violence_detection:prediction_news_list' %}">
                            <i class="fas fa-angle-double-right"></i>
                            Новости
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-angle-double-right"></i>
                            Блог
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:login' %}">
                            <i class="fas fa-angle-double-right"></i>
                            Войти
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 tags">
                {#                <h2>Популярные теги</h2>#}
                {#                <ul>#}
                {#                    <li>Финансы</li>#}
                {#                    <li>Веб-дизайн</li>#}
                {#                    <li>Интернет-проекты</li>#}
                {#                    <li>Node Js</li>#}
                {#                    <li>Java Swing</li>#}
                {#                    <li>Angular Js</li>#}
                {#                    <li>Vue Js</li>#}
                {#                </ul>#}
            </div>
        </div>
    </div>
</footer>
{#<div class="copy">#}
{#    <div class="container">#}
{#        <a href="https://www.smarteyeapps.com/">2015 © Все права защищены | Разработано Smarteyeapps</a>#}
{##}
{#        <span>#}
{#                <a><i class="fab fa-github"></i></a>#}
{#                <a><i class="fab fa-google-plus-g"></i></a>#}
{#                <a><i class="fab fa-pinterest-p"></i></a>#}
{#                <a><i class="fab fa-twitter"></i></a>#}
{#                <a><i class="fab fa-facebook-f"></i></a>#}
{#        </span>#}
{#    </div>#}
{##}
{#</div>#}
