{% extends 'layouts/base.html' %}
{% block title %}Құпия сөзді өзгерту{% endblock %}

{% block content %}
<main class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-primary">Құпия сөзді өзгерту</h2>
        <div class="col-md-6 offset-md-3 bg-white p-4 rounded shadow-sm">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <form method="POST" action="{% url 'accounts:change_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning btn-block mt-3">Құпия сөзді жаңарту</button>
            </form>

            <!-- Back to Profile Link -->
            <div class="mt-4 text-center">
                <a href="{% url 'accounts:edit_profile' %}" class="btn btn-link">Профильге оралу</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
