{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Лента{% endblock %}

{% block content %}
    {% include 'components/header.html' %}

    <main class="news_list-page py-5 bg-light flex-column flex-grow-1">
        <div class="container">
            <h2 class="mb-4">Последние обновления</h2>

            <div class="row">
                {% for latest_available_news_item in latest_available_news %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="{{ latest_available_news_item.prediction_attempt.image.file.url }}"
                                 class="card-img-top"
                                 alt="{{ latest_available_news_item.prediction_attempt.image.file.url }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ latest_available_news_item.title }}</h5>
                                <span class="news_item_date">{{ latest_available_news_item.created_at }}</span>
                                <p class="card-text">Авторы: {{ latest_available_news_item.author }}</p>
                                <p class="card-text">{{ latest_available_news_item.description }}</p>
                                {#                            <p class="card-text">Prediction Data: {{ latest_available_news_item.prediction_attempt.prediction_data }}</p>#}
                                {#                            <p class="card-text">Prediction Result: {{ item.prediction_result }}</p>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if latest_available_news.has_other_pages %}
                <nav aria-label="Page navigation" class="mt-4">
                    <ul class="pagination justify-content-center">
                        {% if latest_available_news.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Бірінші">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                    <span class="sr-only">Первая</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ latest_available_news.previous_page_number }}"
                                   aria-label="Алдыңғы">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Пред.</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;&laquo;</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                        <span class="page-link">
                            Страница {{ latest_available_news.number }} / {{ latest_available_news.paginator.num_pages }}
                        </span>
                        </li>

                        {% if latest_available_news.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ latest_available_news.next_page_number }}"
                                   aria-label="Келесі">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">След.</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ latest_available_news.paginator.num_pages }}"
                                   aria-label="Соңғы">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                    <span class="sr-only">Послед.</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </main>


    <style>
        .news_list-page .news_item_date {
            color: #1965fd;
        }
        
    </style>
    
    {% include 'components/footer.html' %}

{% endblock %}
